<div data-role="page">
	<div data-role="header">
 		<h1>Milestones</h1>
		<%= link_to "Children", children_path, :class => "ui-btn-right", "data-transition" => "slideup"%>
	</div>
	
	<div data-role="content">
		<ul data-role="listview">
   			<li><%= link_to "About", about_path %></li>
   			<li><%= link_to "Login", login_path %></li>
   			<li><%= link_to "Milestones", milestones_path %></li>
		</ul>
	</div>
</div>

