<div id="home">
	<div class="toolbar">
 		<h1>Milestones</h1>
     	<a class="button slideleft" href="#settings">Settings</a>
	</div>
	<ul class="edgetoedge">
   		<li class="arrow"><%= link_to "About", about_path %></li>
   		<li class="arrow"><a href="#login">Login</a></li>
   		<li class="arrow"><%= link_to "Milestones", milestones_path %></li>
	</ul>
</div>

