<div data-role="page">
	<div data-role="header">
		<h1>Login or Sign Up</h1> 
		<%= link_to "Home", home_path, "data-direction" => "reverse" %>
	</div>
	<div data-role="content"> 
		<ul data-role="listview">
			<li>
				Login form will go here
			</li> 
		</ul> 
	</div> 
</div>